{% extends "_base.html" %}


{% block content %}
<table>
    {% if positions %}
        {% for position in positions %}
        <tr>
            <td>
                <button><a href="{{ url_for('positions.get_position', id=position.id) }}">{{ position }}</a></button>
            </td>
        </tr>
        {% endfor %}
    {% else %}
    <p>На даний час посади ще не додані</p>
    {% endif %}
</table>

<form action="{{ url_for('positions.add_position') }}" method="post">
    <p>
        <label>Назва посади</label>
        <input type="text" name="name">
    </p>
    <p>
        <button type="submit">Додати нову посаду</button>
    </p>
</form>
{% endblock content %}